{% set mdc_drawer_base_class = 'mdc-drawer' %}
{% if mdc_drawer_modifiers and ('dismissable' in mdc_drawer_modifiers or 'modal' in mdc_drawer_modifiers)%}
    {% set auto_init = true %}
{% endif %}

<aside {{ bem(mdc_drawer_base_class, (mdc_drawer_modifiers), mdc_drawer_blockname, mdc_drawer_extras )}} {% if auto_init %}data-mdc-auto-init="MDCDrawer"{% endif %}>
    <div class="{{ mdc_drawer_base_class }}__content">
        {% block drawer %}
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                    <span class="mdc-list-item__text">Inbox</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                    <span class="mdc-list-item__text">Outgoing</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">Drafts</span>
                </a>
            </nav>
        {% endblock %}
    </div>
</aside>
