{% set mdc_li_base_class = 'mdc-list-item' %}

<li {{ bem(mdc_li_base_class, (mdc_li_modifiers), mdc_li_blockname, mdc_li_extras) }}>
    <span class="{{ mdc_li_base_class }}__text">{{ content }}</span>
</li>
