<ul class="mdc-list" data-mdc-auto-init="MDCList">
    {% block list %}
        {% for item in items %}
            {% include '@atoms/list/_list-item.twig' with item only %}
        {% endfor %}
    {% endblock %}
</ul>
