{% set tab_base_class = 'mdc-top-app-bar' %}

<header {{ bem(tab_base_class, (tab_modifiers), tab_blockname, tab_extra) }} data-mdc-auto-init="MDCTopAppBar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            {% include '@atoms/top-app-bar/_top-app-bar--nav-icon.twig' with {
              icon: 'menu'
            } only %}
            <span class="mdc-top-app-bar__title">{{ title }}</span>
        </section>
    </div>
</header>
