{% set icon_button_base_class = 'mdc-icon-button' %}
{% set icon_button_extras = ['material-icons'] %}

<button {{ bem(icon_button_base_class, (icon_button_modifiers), icon_button_blockname, icon_button_extras)}}>{{ icon }}</button>
