// Grayscale
$white: white;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #333;
$gray-darker: #333;
$black: black;

// Project
$hot-pink: #ff4081;
$sky-blue: #b3d4fc;
$matte-blue: #3f51b5;
$teal: #46b6ac;

// Material Design Component theme assignments.
$mdc-theme-primary: $hot-pink;
$mdc-theme-secondary: $sky-blue;
$mdc-theme-background: $white;
