{% set grid_base_class = grid_base_class|default('mdc-layout-grid') %}

<div {{ bem(grid_base_class, (grid_modifiers), grid_blockname) }}>
  <div {{ bem(grid_base_class, [], 'inner') }}>
    {% block grid_inner %}
      {%- for item in grid_items -%}
        {% include '@base/layouts/_grid-item.twig' with item only %}
      {%- endfor -%}
    {% endblock %}
  </div>
</div>
