{% set grid_item_base_class = grid_item_base_class|default('mdc-layout-grid') %}
{% set grid_item_blockname = grid_item_blockname|default('cell') %}

<div {{ bem(grid_item_base_class, (grid_item_modifiers), grid_item_blockname) }}>
  {%- block grid_item %}{{ content }}{% endblock -%}
</div>
