@import '@material/ripple/mdc-ripple';

.my-surface {
  //@include mdc-ripple-surface;
  //@include mdc-ripple-radius-bounded;
  //@include mdc-states;
}

.my-surface--pl {
  width: 300px;
  height: 300px;
  background-color: $hot-pink;
}
